*
{
  margin: auto;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

header
{
  display: block;
  background-color:#39cf99;
  color: white;
  padding: 20px;
  overflow: hidden;
}

header h1
{
  display: inline-block;
  font-size: 1.1em;
}

nav
{
  display: inline-block;
  float: right;
}

div.menu a
{
  display: inline;
  padding: 4px 10px;
  font-size: 1.2em;
}

main
{
  width: 50%;
}

.cats,
.products,
.benefits
{
  display: block;
  padding: 45px 30px;
}

[alt="wall of cats"]
{
  width: 55%;
  height: 50%;
  float: left;
}

.welcome
{
  background-color:#26547c;
  overflow: hidden;
  padding-bottom: 5px;
}

#meowcome
{
  display: inline-block;
  float: right;
  display: inline-block;
  color: white;
  font-size: 2.4em;
  padding-top: 40px;
  text-align: center;
  margin: 0 5px;
}

.cats
{
  background-color: #FFD166;
}

p
{
  padding: 10px 0;
  font-size: 1.2em;
}

.products{
  background-color: #F2F2F2;
}

.kitties
{
  width: 30%;
  height: 30%;
  border: 3px solid black;
  margin: 5px 10px;
}

.benefits{
  background-color: #26547c;
}
