*
{
  margin: auto;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

header
{
  display: block;
  background-color:#39cf99;
  color: white;
  padding: 20px;
  overflow: hidden;
}

header h1
{
  display: inline-block;
  font-size: 1.1em;
}

nav
{
  display: inline-block;
  float: right;
}

div.menu a
{
  display: inline;
  padding: 4px 10px;
  font-size: 1.2em;
}

main
{
  width: 50%;
}

[alt="wall of cats"]
{
  width: 55%;
  height: 50%;
  float: left;
}

.welcome
{
  display: block;
  background-color:#26547c;
  overflow: hidden;
  padding-bottom: 5px;
}

section.welcome h1
{
  float: right;
  display: inline-block;
  color: white;
  font-size: 2.4em;
  padding-top: 40px;
}

.cats
{
  display: block;
  background-color: #FFD166;
}
